<%= render partial: "shared/topad" %>
<div id="bannerTop">
	<div id="logoSpace"><a href="<%= root_url %>"><img id="logo" src="assets/logo.png"></a></div>

	<div id="fb-tw-rss">
		<div class="fb-tw-rss-container"><a href="http://forekast.com"><img class="fb-tw-rss-icon" src="assets/spaceman.png"></a></div>
		<div class="fb-tw-rss-container"><a href="http://facebook.com/thedoghousediaries"><img class="fb-tw-rss-icon" src="assets/fb.png"></a></div>
		<div class="fb-tw-rss-container"><a href="http://twitter.com/willrayraf"><img class="fb-tw-rss-icon" src="assets/tw.png"></a></div>
		<div class="fb-tw-rss-container"><a href="http://feeds.feedburner.com/thedoghousediaries/feed"><img class="fb-tw-rss-icon" src="assets/rss.png"></a></div>
		<div class="fb-tw-rss-container"><a href="http://www.patreon.com/doghouse"><img class="fb-tw-rss-icon" src="assets/patreon.png"></a></div>
		<div class="clear"></div>
	</div>

	<%= render partial: "shared/menu" %>

	<div class="clear"></div>
</div>
