<div id="menu">
	<ul>
		<li><a class ="menuLinks" href="<%= about_path %>">about</a></li>
		<li><a class ="menuLinks" href="<%= archive_path %>">archive</a></li>
		<li><a class ="menuLinks" href="<%= store_path %>">store</a></li>
		<li><a class ="menuLinks" href="<%= contact_path %>">contact</a></li>
		<li><a class ="menuLinks" href="http://feedburner.google.com/fb/a/mailverify?uri=thedoghousediaries/feed&loc=en_US">subscribe</a></li>
	</ul>
</div>