<div id="menu">
	<ul>
		<li><a class ="menuLinks" href="/about">about</a></li>
		<li><a class ="menuLinks" href="/archive">archive</a></li>
		<li><a class ="menuLinks" href="/store">store</a></li>
		<li><a class ="menuLinks" href="/contact">contact</a></li>
		<li><a class ="menuLinks" href="http://feedburner.google.com/fb/a/mailverify?uri=thedoghousediaries/feed&loc=en_US">subscribe</a></li>
	</ul>
</div>