<div id="otherComics">
	<div class="thumb"><a href="http://thedoghousediaries.com/3198"><img class="thumbLink" src="assets/targetpractice.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/5203"><img class="thumbLink" src="assets/beard.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/3266"><img class="thumbLink" src="assets/toiletpaper.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/3211"><img class="thumbLink" src="assets/ice.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/5414"><img class="thumbLink" src="assets/map.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/5650"><img class="thumbLink" src="assets/cat.png"></a></div>
	<div class="thumb"><a href="http://wondernode.com/fictional-places-map"><img class="thumbLink" src="assets/fictionalplaces.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/5124"><img class="thumbLink" src="assets/tall.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/5053"><img class="thumbLink" src="assets/coffee.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/4491"><img class="thumbLink" src="assets/sheets.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/4639"><img class="thumbLink" src="assets/scienceofdogs.png"></a></div>
	<div class="thumb"><a href="http://thedoghousediaries.com/1127"><img class="thumbLink" src="assets/killingmachine.png"></a></div>
</div>