<div id="popup-follow">
	<div class="willrayraf"><a href="https://twitter.com/willrayraf"><img class="twitter-profile" src="https://pbs.twimg.com/profile_images/472555359115046912/Ag-WlJVN_normal.png"></a>
	<a href="https://twitter.com/willrayraf" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @willrayraf</a>
	<div class="twitter-handle">@willrayraf</div></div>

	<div class="willrayraf"><a href="https://twitter.com/willsamari"><img class="twitter-profile" src="https://pbs.twimg.com/profile_images/464301157259571201/19yj6tmu_normal.png"></a>
	<a href="https://twitter.com/willsamari" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @willsamari</a>
	<div class="twitter-handle">@willsamari</div></div>

	<div class="willrayraf"><a href="https://twitter.com/rayyamartino"><img class="twitter-profile" src="https://pbs.twimg.com/profile_images/3450320705/e8118a8714ce08bb5b838c465f0deeaf_normal.jpeg"></a>
	<a href="https://twitter.com/rayyamartino" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @rayyamartino</a>
	<div class="twitter-handle">@rayyamartino</div></div>

	<div class="willrayraf"><a href="https://twitter.com/rafaan"><img class="twitter-profile" src="https://pbs.twimg.com/profile_images/493604137422946305/DrkmHouu_normal.jpeg"></a>
	<a href="https://twitter.com/rafaan" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @rafaan</a>
	<div class="twitter-handle">@rafaan</div></div>
	<div class="clear"></div>
</div>