<div id="maincontent" class="aboutUs">
	<h1 class="pageTitle">About Us</h1>
	<div class="entry">
		<p>The Doghouse Diaries (DHD) is a website by <a href="https://twitter.com/willsamari" target="_blank">Will</a>, <a href="https://twitter.com/rayyamartino" target="_blank">Ray</a>, 
			and <a href="https://twitter.com/rafaan" target="_blank">Raf</a>.</p>
	</div>
	<div class="entry">
		<p>The website was built and is maintained by <a href="https://twitter.com/sixfivebeastman" target="_blank">Tim</a>, who may or may not actually exist.</p>
	</div>
	<div class="entry">
		<p>Our work is licensed under a <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 License</a>.  This means
			you are basically free to use or share our work as long as you're not making money from it (blogs with ads are okay).  We just ask that you attribute it to us or this site.</p>
	</div>
</div>
