<%= javascript_tag do %>
	$(function() {
		$("#toTop").scrollToTop(1000);
	});
<% end %>

<a href="#top" id="toTop"></a>
<div id="maincontent" class="archiveTable">
	<h1 class="pageTitle">Archive</h1>
<!-- <?php //echo $html['content']; ?> -->
</div>
