<div id="maincontent" class="contact">
	<h1 class="pageTitle">Contact Us</h1>
	<ul id="contact-div">
		<li class="contact-list">doghousediaries [at] gmail [dot] com</li>
		<li class="contact-list"><a target="_blank" href="http://facebook.com/thedoghousediaries">facebook.com/thedoghousediaries</a></li>
		<li class="contact-list">Doghouse Diaries <a target="_blank" href="https://twitter.com/willrayraf">@willrayraf</a></li>
		<li class="contact-list">Will <a target="_blank" href="https://twitter.com/willsamari">@willsamari</a></li>
		<li class="contact-list">Ray <a target="_blank" href="https://twitter.com/rayyamartino">@rayyamartino</a></li>
		<li class="contact-list">Raf <a target="_blank" href="https://twitter.com/rafaan">@rafaan</a></li>
		<li class="contact-list">For site questions, contact Tim <a target="_blank" href="https://twitter.com/sixfivebeastman">@sixfivebeastman</a></li>
	</ul>
</div>
