<div id="maincontent" class="store">
	<h1 class="pageTitle">Store</h1>
	<div class="store-text">Sorry, we're working to put out a new lineup of stuff.  Let us know if there's something you just gotta have!</div>
	<div class="store-text">doghousediaries [at] gmail [dot] com</div>
</div>